.container {
  padding: 1.5em 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {

  .logo {
    width: 6em;
    margin-top: 0.2em;
  }

  .container {
    padding: 1.2em 1.2em;
  }
}
