
@keyframes loader-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 8em;
}

.circle {
  width: 4em;
  height: 4em;
  border-radius: 10em;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #5159e9);
  background-size: 400% 400%;
  animation: loader-animation 3s ease infinite;
}

.label {
  display: inline-block;
  font-size: 0.9em;
  color: #9396e0;
  opacity: 0.3;
  margin-top: 0.8em;
}
