.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.back {
  margin-top: -0.25em !important;
}

.info {
  display: flex;
  flex-direction: column;
  padding-left: 0.5;
}

.title {
  color: white;
  font-weight: bold;
  line-height: 170%;
  font-size: 1.2em;
}

.description {
  color: white;
  line-height: 170%;
  font-size: 0.85em;
  margin-top: 0.9em;
}

.children {
  width: 100%;
}

.container {
  background-color: #232323;
  padding: 2.5em;
  border-radius: 32px;
  box-sizing: border-box;
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    width: 27em;
  }
}
