.title {
    color: white;
    font-weight: bold;
    line-height: 170%;
    font-size: 1.4em;
    margin-left: 0.5em;
}

.dapps {
    max-height: 25rem;
    overflow-y: auto;
    margin-bottom: 2em;
}

.actions {
    width: 100%;
}

.button {
    color: white;
    border: none;
    background-color: #5159e9;
    font-size: 1.1em;
    height: 3.2em;
    width: 100%;
    border-radius: 10em;
    cursor: pointer;
}

.button:hover {
    opacity: 0.94;
}

.description_short {
    margin: 0;
    color: white;
    opacity: 50%;
    text-align: center;
    font-weight: 300;
    line-height: 150%;
    font-size: 1em;
}

.img {
    width: 7em;
    height: 7em;
    background-color: #9396e0;
    border-radius: 50%;
    flex-shrink: 0;
    margin: 2em;
}

.no_apps {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    margin-bottom: 5em;
}