.container {
  display: flex;
  flex-direction: column;
}

.bar_wrapper {
  margin: 0.25em 0 0 0;
  height: 4px;
  width: 100%;
  overflow: hidden;
  background-color: #303038;
}

.bar {
  height: 100%;
  background-color: #5550f2;
  transition: width 2s ease-in-out;
}

.complete_label {
  color: white;
  font-weight: 300;
  font-size: 0.8em;
  margin-top: 0.3em;
}

.top_label {
  color: white;
  font-weight: 500;
  font-size: 0.8em;
}