.inputs {
  margin: 2em 0 1.8em 0;
}

.inputs > div:not(:first-child) {
  margin-top: 1.5em;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: end;
}

.continue-button {
  width: 100%;
}

@media (min-width: 768px) {
  .continue-button {
    width: auto;
  }
}
