.container {
  position: fixed;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  transition: transform .6s ease-in;
  animation: toast-in-left .7s;
}

.toast {
  display: flex;
  width: 29em;
  min-height: 5em;
  background-color: #F10000;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.25);
  border-radius: 2em;
  margin-bottom: 1em;
}

.icon_wrapper {
  margin-top: -0.1em;
}

.content {
  display: flex;
  margin: 1em 1.3em;
  color: #FFFFFF;
  width: 100%;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  line-height: 120%;
  margin-bottom: 0.5em;
}

.message {
  font-style: normal;
  font-weight: normal;
  font-size: 0.85em;
  line-height: 140%;
}

@media (max-width: 768px) {
  .container {
    width: 88%;
    bottom: 0.5em;
  }

  .toast {
    width: 100%;
  }
}
