.body {
  max-height: 26em;
  overflow-y: auto;
  padding-top: 2em;
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 6em 0;
}

.empty_text {
  color: white;
  opacity: 0.5;
  text-align: center;
  line-height: 140%;
  font-size: 0.9em;
  margin-top: 2em;
}

.list_view {
  padding: 0 0 1.5em 0;
}

.button {
  width: calc(100% - 4.8em);
  margin: 2.4em 2.4em 0 2.4em;
}

.card {
  padding: 2.4em 0 2.4em 0;
  box-sizing: border-box;
}

.card_header {
  padding: 0 2.4em 0 2.4em;
}

.app_item {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  width: 100%;
  padding: 0.8em 2.4em 0.8em 2.4em;
}

.app_item:hover {
  background-color: #2b2b2b;
}

.app_item_info {
  display: flex;
  flex-direction: column;
  margin-left: 1.3em;
}

.app_item_name {
  font-weight: bold;
  color: white;
  font-size: 0.9em;
}

.app_item_category {
  text-transform: uppercase;
  color: #a3a0ff;
  font-weight: bold;
  font-size: 0.8em;
  margin-top: 0.5em;
}

.app_item_description {
  color: white;
  opacity: 0.5;
  font-size: 0.85em;
  line-height: 140%;
  margin: 0.3em 0 0 0;
}

.submit_message {
  background-color: #2b2b2b;
  margin: 0 0 1px 0;
  padding: 1em;
  display: flex;
  flex-direction: row;
  padding: 0.8em 2.4em 0.8em 2.4em;
}

.submit_message_text_wrapper {
  color: #aaaaaa;
  display: flex;
  flex-direction: column;
}

.submit_message_title {
  font-size: 0.9em;
  font-weight: bold;
}

.submit_message_description {
  font-size: 0.85em;
  line-height: 140%;
  margin: 0.3em 0 0 0;
}

.submit_check_wrapper {
  padding: 0 2.4em 0 1.1em;
  display: flex;
  justify-content: center;
}
