.button {
    background-color: white;
    border: 2px solid;
    border-color: white;
    color: #5159e9;
    font-size: 1.1em;
    height: 3.2em;
    min-width: 8em;
    width: auto;
    border-radius: 10em;
    cursor: pointer;
}

.button:hover {
    opacity: 0.94;
    border-color: #5159e9;
}