.apk {
  margin-top: 3em;
}

.version {
  margin: 2em 0 1.8em 0;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 4em;
}

.buttons :not(:first-child) {
  margin-left: 1em;
}

@media (max-width: 768px) {

  .buttons {
    justify-content: space-between;
  }

  .button {
    width: 46%;
    min-width: 46%;
    margin: 0;
  }
}
